@model RegisterViewModel

<div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-3">
            <div class="login-box">
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <b>Kayıt Ol</b>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger small"></div>

                            <div class="mb-3">
                                <div class="input-group">
                                    <input asp-for="Username" class="form-control" placeholder="Kullanıcı Adı" />

                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3">
                                <div class="input-group">
                                    <input asp-for="Password" type="password" class="form-control" placeholder="Parola" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="input-group">
                                    <input asp-for="RePassword" type="password" class="form-control" placeholder="Tekrar Parola" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Ana Sayfa'ya Git</a>
                                </div>

                                <div class="col-4 ms-auto">
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-success">Kayıt Ol</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
